.global-navigation {
    width: 100%;
    height: 64px;
    background-color: #f9f8eb;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 16px #00000030;
}

.global-navigation img {
    height: 100%;
}